body{
    
}
#logo{
    padding:0px;
    width:130px;
    height:100px;
    float:left;
}
h5{
    float:right;
}
#start{ 
    float:left;
    
}

.main{
    background-color:transparent;
    backdrop-filter:blur(5px); 
    border:solid;
    border-color:transparent;
    color:white;
    height:35px;
    font-size:18px;
    float:left;
    cursor:pointer;
    transition-duration:.6s;
}
.b1{
    margin-left:120px;
    width:110px;
}
.b2{
    width:93px;
}
.b3{
    width:150px;
}

#cent{
    margin-left:600px;
}
#bbr{
    backdrop-filter:blur(5px);
    height:170px;
    --scroll:10;
}
#mm{
    margin-top:480px;
    height:90px;
    backdrop-filter:blur(5px);
    padding:30px;
}
